.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  line-height: 2;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: Manrope;
  overflow-x: hidden;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}

/* FOOTER CSS*/

.Footer{
  margin-top: 100px;
 }
 .Footer h1{
  color: orangered;
  font-size: 30px;
  font-weight: 400;
 }

.Footer p{
  font-size: 17px;
}

.Footer img{
  width: 40%;
}

.image{
  width: 8% !important;
  margin-right: 20px;
}